.App{
    position: fixed;
    text-align: center;
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
    padding: 1px;
}

.background {
    height: 100%;
    width: 100%;
    position: fixed;
    background-size: cover;
    filter: brightness(50%);
    background-image: url('./img/weather.jpg');
}

h1{
    font-size: 32px;
    color: white;
    margin-top: 60px;
}

input{
    padding: 5px;
    margin: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button{
    padding: 5px 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    background-color: #0056b3;  
}

p{
    font-size: 19px;
    color: #fff;
}

h2{
    font-size: 32px;
    margin-top: 30px;
    color: #fff;
}

.error {
    color: rgb(255, 230, 0);
}

@media (max-width: 480px){
    .App{
        margin: 10px;
    }
    
    input{
        width: 100%;
        max-width: 250px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    input {
      width: 100%;
      max-width: 350px;
    }
} 